@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
    box-sizing: border-box;


    
    

}

.html {
    scroll-behavior: smooth;
}

.nav-link {
    cursor: pointer;
    
    

}
.nav-link:hover {
    color: #d9a7c7;
transition: all 0.3s ease-in;
}

.about-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.about-section{
display: inline-block;
transform: translateY(30px);
width: 100%;
}

.project-section {
    position: relative;
}

.project-container {
    display: grid;
   
   position: relative;
   
   padding-top: 10rem;
}

.service-button{
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;;
    border-radius: 5px;
    background-color: #ADD8E6;
    color: black;
    cursor: pointer;
}

.description-button{
    width: 100px;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    background-color: #ADD8E6;
    cursor: pointer;
    
}

.button-wrapper{
display:flex;
justify-content: center;
gap: 14px;
}

.icons{
    display: flex;
    gap:20px;
    justify-content: center;
    padding: 10px;
}

.github{
    cursor: pointer;
    font-size: 40px;
}

.linkedin{
    cursor:pointer;
    font-size: 40px;
}

.mail{
    cursor: pointer;
    font-size: 40px;
}
