@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
*{
    box-sizing: border-box;


    
    

}

.html {
    scroll-behavior: smooth;
}

.nav-link {
    cursor: pointer;
    
    

}
.nav-link:hover {
    color: #d9a7c7;
transition: all 0.3s ease-in;
}

.about-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.about-section{
display: inline-block;
transform: translateY(30px);
width: 100%;
}

.project-section {
    position: relative;
}

.project-container {
    display: grid;
   
   position: relative;
   
   margin-top: 10rem;
}

